<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        NOAA/NOS<br>
        <a href="https://ioos.noaa.gov">IOOS</a><br>
      </div>

      <div class="footer-col footer-col-2">
        Updated on {{ site.time | date_to_string }}
      </div>

      <div class="footer-col footer-col-3 icon-list">
        <a href="{{ site.github.repository_url }}">
          <i class="bi bi-github"></i>
             <span class="username">{{ site.github.repository_nwo }}</span>
        </a><br>
        <a href="{{ site.github.repository_url }}/edit/gh-pages/{{ page.path }}">
          Improve this page
        </a><br>
        <a href="code-of-conduct">
          Code of conduct
        </a>
      </div>
    </div>

  </div>

</footer>
