---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1>
      Topic {{ page.number }}:<br>
      {{ page.title | escape }}
    </h1>
    
    <div class="aside authors">
      <dl>
        {% if page.pis %}
        <dt>Topic leads</dt>
        <dd>
          <ul>
            {% for person in page.pis %}
            <li>{{ person }}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        
        {% if page.contributors %}
        <dt>Contributors</dt>
        <dd>
          <ul>
            {% for person in page.contributors %}
            <li>{{ person }}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}

        {% if page.github %}
        <dt>GitHub issue</dt>
        <dd>
          <a href="https://github.com/{{ page.github }}" target="_blank">github.com/{{ page.github }}</a>
        </dd>
        {% endif %}
        {% if page.slack %}
        <dt>Slack channel</dt>
        <dd>
          <ul>
            {% for slack in page.slack %}
            <li>#{{ slack }}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
      </dl>
    </div>
  </header>
  
  <div class="post-content">
    <!--<div class="video video-project video-coming-soon"> -->
      <!--<a href="https://www.youtube.com/watch?v={TBC}&t={{ page.video_time }}s" title="Play video">-->
        <!--<div class="video-container">-->
          <!--<img alt="{{ page.title }}" src="/assets/event/{{ page.video_thumbnail }}.webp">-->
          <!--<span class="play-button bi bi-play-fill"></span>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->

    {{ content }}
  </div>

  <p><a href="{% link topics.md %}">← Back to project list</a></p>

</article>
